<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/css/swiper.min.css">
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/js/swiper.jquery.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="Snapshots from the Reading Habits of Left, Right and Center">
<meta property="og:url" content="https://thenewsdivide.com/day/{{date-slug}}/"/>
<meta property="og:title" content="The News Divide: {{date-short}}"/>
<meta property="og:description" content="Snapshots from the Reading Habits of Left, Right and Center"/>
<meta property="og:image" content="https://thenewsdivide.com/day/{{date-slug}}/newsdivide.jpg"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@thenewsdivide"/>
<meta name="twitter:title" content="The News Divide: {{date-short}}"/>
<meta name="twitter:description" content="Snapshots from the Reading Habits of Left, Right and Center"/>
<meta name="twitter:creator" content="@thenewsdivide"/>
<meta name="twitter:domain" content="thenewsdivide.com"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="twitter:image" content="https://thenewsdivide.com/day/{{date-slug}}/newsdivide.jpg"/>
<title>The News Divide: {{date-short}}</title>
</head>
<body class="sans-serif ph4-l w-80-l center">
<div class="nav w-100 bg-white bb tc">
  <span class="tl dib pt1">
    <a class="link pointer v-mid ph2 pb1 pv1 br2 mb1 dib white bg-dark-gray" id="archive"href="/day/{{yesterday-slug}}/">
     <i class="v-top material-icons md-light md-18" style="font-size: 18px;" >arrow_back</i>
     <span>{{yesterday-short}}</span>
    </a>
  </span>
  <span class="dib pt1 tc" style="min-width:162px;">
      {{date-short}}
  </span>
  <span class="dib pt1 tr">
      <a id="zoom" class="link pointer ph2 pv1 br2 mb2 mh2 dib ba b--dark-gray">
        <i id="zoom-icon" class="material-icons md-light md-18 v-top" style="font-size: 18px;" >zoom_in</i>
      </a>
  </span>
  <span class="dib pt1 tr">
      <a class="link pointer ph2 pv1 br2 mb2 dib white bg-black" target="_blank" href="https://twitter.com/intent/tweet?source=tweetbutton&url=https://thenewsdivide.com/day/{{date-slug}}/&text={{date-short}}&via=thenewsdivide">
        <i class="material-icons md-light md-18 v-top" style="font-size: 18px;" >share</i>
      </a>
  </span>
</div>
<div class="container swiper-container">
  <div class="row swiper-wrapper">
    <div class="left_sites w-third-l w-100 swiper-slide">
      <div class="f6 pa2 tc">LEFT</div>
    </div>
    <div class="center_sites w-third-l w-100 swiper-slide">
      <div class="f6 pa2 tc">CENTER</div>
    </div>
    <div class="right_sites w-third-l w-100 swiper-slide">
      <div class="f6 pa2 tc">RIGHT</div>
    </div>
  </div>
  <hr />
  <h4>
    <a class="link black underline" target="blank" href="https://twitter.com/thenewsdivide">Feedback / Questions?</a>
  </h4>
</div>
<script type="text/javascript">
 var isMobile = (function () {
    var check = false;
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
      check = true;
    }
    return check;
 }());

 $(function(){
   var data = {{{sites}}};
   var jsDate = new Date();
   // var hour = new Date().getHours();
   // var min = Math.round(jsDate.getMinutes() / 9);
   // var minOfDay = hour + '_' + min;
   var imageClasses = "center w-100 mb2"
   var linkClasses = "pa0 ma0"
   var baseUrl = 'https://thenewsdivide.com/day/{{date-slug}}/'

   data.left_sites.forEach(function(page){
     $('.left_sites').append(`<a class="${linkClasses}" href="${page.url}" target="blank"><img class="image ${imageClasses}" src="${baseUrl + page.image}" /></a>`);
   });
   data.center_sites.forEach(function(page){
     $('.center_sites').append(`<a class="${linkClasses}" href="${page.url}" target="blank"><img class="image ${imageClasses}" src="${baseUrl + page.image}" /></a>`);
   });
   data.right_sites.forEach(function(page){
     $('.right_sites').append(`<a class="${linkClasses}" href="${page.url}" target="blank"><img class="image ${imageClasses}" src="${baseUrl + page.image}" /></a>`);
   });

   var swipeEffect = isMobile ? 'coverflow' : 'slide';
   var swiper = new Swiper('.swiper-container', {
          effect: swipeEffect,
          initialSlide: 1,
          grabCursor: false,
          centeredSlides: true,
          slidesPerView: '3',
          breakpoints: {
              1024: { slidesPerView: 3, spaceBetween: 10},
              420: { slidesPerView: 1, spaceBetween: 0},
              320: { slidesPerView: 1, spaceBetween: 0}
          },
          coverflow: {
              rotate: 10,
              stretch: 0,
              depth: 10,
              modifier: 1,
              slideShadows : false
          }
    });
 });

window._zoom = JSON.parse(localStorage.getItem('_zoom')) || false

function initZoom() {
  if (window._zoom) {
    $('#zoom-icon').html('zoom_out')
    $('img').addClass('w-100 center')
    $('img').removeClass('w-50 bn pa0 ma0 fl')
    $('.swiper-slide').addClass('pa0 ma0')
  } else {
    $('#zoom-icon').html('zoom_in')
    $('img').removeClass('w-100 center')
    $('img').addClass('w-50 bn pa0 ma0 fl')
    $('.swiper-slide').addClass('pa0 ma0')
  }
}

$('#zoom').on('click', function () {
  localStorage.setItem('_zoom', !window._zoom);
  window._zoom = !window._zoom
  initZoom();
});

$(function() {
  initZoom();
});

 var refreshInt = 5 * 60 * 1000
 setTimeout(function () {
   window.location.reload(1);
 }, refreshInt)

</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VNF334W1LZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VNF334W1LZ');
</script>

<!-- Global site tag (gtag.js) - Google Analytics
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-372716-21"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-372716-21');
</script>
-->
</body>
</html>
